//Colors 
$LightSlateGray:  #778899;
$DarkSlateGray:  #2F4F4F;
$black:  #000000;
$Gainsboro:  #DCDCDC;
$white:  #ffffff;
$DarkRed:	#8B0000;
$Tomato:	#FF6347;
$Gold:	#FFD700;
$SlateBlue:	#6A5ACD;
$MediumSpringGreen:	#00FA9A;
$Teal:	#008080;
$DeepSkyBlue:	#00BFFF;
$Maroon:	#800000;
$DarkGoldenrod:	#B8860B;

//globals
$mpadding: 15px;

//fonts
$title_font: Helvetica;
$text_font: Arial;

//Size
$title_size: 25px;
$text_size: 16px;
$subtitle_size: 20px;

//breakpoints
$tablet_width: 768px;
$desktop_width: 1024px;