//Colors 
$LightSlateGray:  #778899;
$lightgray: #888686;
$DarkSlateGray:  #2F4F4F;
$black:  #000000;
$blackShadow: #0003;
$Gainsboro:  #DCDCDC;
$white:  #ffffff;
$DarkRed:	#8B0000;
$Tomato:	#FF6347;
$Gold:	#FFD700;
$SlateBlue:	#6A5ACD;
$MediumSpringGreen:	#00FA9A;
$Teal:	#008080;
$DeepSkyBlue:	#00BFFF;
$Maroon:	#800000;
$DarkGoldenrod:	#B8860B;
$redSolid: #FF0000;
$SanMarino: #4267b2;
$Cerulean: #00aced;
$whiteShadow: #e0e5ec;
$gray: #797d7f;
$grayShadow: #a1a1a1;
$blueShadow: #5c87fe;
$moonMist:#FFF9;
$pink:#7d43a1;

$sombrasfirst: rgb(163, 177, 198);

//globals
$mpadding: 15px;

//fonts
$title_font: Helvetica;
$text_font: Arial;

//Size
$title_size: 25px;
$text_size: 16px;
$subtitle_size: 20px;

//breakpoints
$tablet_width: 768px;
$desktop_width: 1024px;